body {
  margin-top: 70px;
  background: url(/public/background_coffee.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
  /* margin-top: 70px;
  font-family: "Roboto", sans-serif;
  color: #e2d8d8;
  font-size: 1.125rem;
  background-color: #2f3035;
  background-image: url(/public/background_coffee.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}

.bg-body-tertiary {
  background-color: rgba(216, 216, 216, 0.165) !important;
  color: azure !important;
}

.nav-link {
  color: azure !important;
}
.cards {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.card1 {
  min-height: 250px;
  width: 30%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
  background-color: #84d2c5;
}

.card2 {
  width: 30%;
  min-height: 250px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
  background-color: #c27664;
}

.card3 {
  width: 30%;
  min-height: 250px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
  background-color: #e4c988;
}

.card1,
.card2,
.card3 {
  padding: 30px 30px 20px 30px;
  box-sizing: border-box;
}

.cards p {
  font-size: 0.85rem;
  line-height: 1.2rem;
  margin-top: 10px;
}

.cards i {
  font-size: 100px;
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
  min-height: 300px;
}
